

html{font-size:62.5%;}
html.wob body{background:#fff}
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{color:#737373;font-weight:400; font-size: 1.6rem; font-family: 'Inter', sans-serif; letter-spacing:-0.5 px; }

@font-face {font-family:'Austhind';src: url('../fonts/Austhind.eot');src: url('../fonts/Austhind.eot?#iefix') format('embedded-opentype'),   url('../fonts/Austhind.woff2') format('woff2'),
        url('../fonts/Austhind.woff') format('woff'),
        url('../fonts/Austhind.svg#Austhind') format('svg');
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        unicode-range: U+0020-00FE;
}

/* HTML TAGS */
h1,h2,h3,h4,h5,h6{color:#0F0F0F;margin-bottom:1.5rem;font-family: 'Poppins', sans-serif; font-weight: bold; }
h1{font-size:4.4rem}
h2{font-size:6rem}
h3{font-size:2.8rem;}
h4{font-size:2.2rem}
h5{font-size:1.8rem}
h6{font-size:2rem}
a{transition:all 350ms ease 0s;-webkit-transition:all 350ms ease 0s;color:#00b6f0}
a:focus,a:hover{color:#000}
a,a:hover{text-decoration:none}
img{max-width:100%}
tbody,td,tfoot,th,thead,tr{border:1px solid #dee2e6;padding:.5rem 1rem}
.table>:not(:first-child){border-top:none}
p{ line-height: 34px; font-size: 1.8rem; color:#858585; }

/* FORM ELEMENTS */


input[type=email],input[type=password],input[type=text],select,textarea{padding:.5rem 1rem;font-size:1.6rem;border-radius:.5rem;display:block;width:100%;font-weight:400;line-height:1.5;color:#000;background-color:#fff;background-clip:padding-box;border:1px solid #ced4da;-webkit-appearance:none;-moz-appearance:none;appearance:none;outline:0;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}
select{padding:.5rem 3.25rem .5rem 1rem;-moz-padding-start:calc(1rem - 3px);background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");background-repeat:no-repeat;background-position:right .75rem center;background-size:16px 12px}
button,input[type=submit]{background:#DDB153;border:none;color:#000;border-radius:.5rem;font-size:1.8rem}
button:hover,input[type=submit]:hover{background:#000; color: #fff;}
input[type=checkbox],input[type=radio]{width:1.8rem;height:1.8rem}

/* CUSTOM CLASSES */
.displayNone,.hasJS noscript,.hideThis{display:none!important;visibility:hidden}
.tooltip{font-size:1.4rem}

#backtotop .arrow-up {border: solid #fff;border-width: 0 2px 2px 0;display: inline-block;padding: 6px;transform: rotate(-135deg);-webkit-transform: rotate(-135deg);margin: 18px 14px;}
#backtotop {position: fixed;right: 3rem;font-size: 4rem;bottom: 7.7rem;color: #0063FF;z-index: 99;width: 44px;height: 44px;background: #000;text-align: center;border-radius: 50%;}
#backtotop:hover{ background: #000; }

.grey-bg{ background: #F2F2F2; }
section{ padding: 9rem 0;}
.bg-gold { background: #dcb97a; }
a:hover{ color:#dcb97a;}
.bg-blue { background: #061a25; color: #fff;}
.btngold{ background:#dcb97a!important ; }
.btnwhite{ background: #fff !important; color: #000 !important; }
.btngold:hover{ background: #fff !important; color: #000 !important;  }
.btnwhite:hover{ background:#dcb97a!important ; color: #000 !important; }
.btn{padding: 11.5px 28px;background: #DDB153; border:0px ; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 6px; font-size: 1.8rem; font-weight: 700; letter-spacing: -0.5px;}
.btn:hover{background:#000;color:#fff}
.small-cont{ max-width: 830px; margin: auto; }

.mt20{ margin-top: 2rem !important; }
.mt30{ margin-top: 3rem !important; }
.mt40{ margin-top: 4rem !important; }
.mt50{ margin-top: 5rem !important; }
.mt90{ margin-top: 9rem !important; }
.mb20{ margin-bottom: 2rem !important; }
.mb30{ margin-bottom: 3rem !important; }
.mb40{ margin-bottom: 4rem !important; }
.mb50{ margin-bottom: 5rem !important; }
.pl20{ padding-left: 2rem; }


/*header*/







/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
}

nav {
    position: fixed;
    top: 2rem;
    left: 0;
    width: 96%;
    padding: 2.4rem 0rem;
    background: #000000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
    right: 0;
    margin: auto;
    border-radius: 1rem;
    -webkit-transition: 0.4s ease;
  transition: 0.4s ease;

}
.navbar-scroll nav {
    top: 0;
    border-radius: 0;
    width: 100%;
    padding: 1rem 0rem;
    -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.navbar-scroll .logo img {
    max-width: 90px;
    -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
nav .navbar {
    height: 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 2%;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow, .links li:hover .extra-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
  padding-left: 0;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu, nav .navbar .links li:hover .extra-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
      margin-bottom: 1rem;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #333;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #333;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #333;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
.navMain {
    display: flex;
    align-items: center;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    /* position: relative; */
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #333;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative; padding-left: 0px;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow, .links li:hover .extra-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu,  nav .navbar .links li:hover .extra-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu, .navbar .nav-links.show4 .links .extra-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow, .navbar .nav-links.show4 .links .extra-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}



/*home slider*/
.banner-main {
    background: url(../images/banner-img.png) no-repeat;
    background-size: cover;
    padding: 0px 0px;
    position: relative;
    min-height: 85rem;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 14rem;
}
.home-demo .container { position: relative; display: flex; justify-content: flex-end; max-width: 90%; }
.home-sl-cont h1 {     font-family: 'Poppins', sans-serif; text-transform: none;color: #fff;font-size: 8rem;letter-spacing: -0.2rem;clear: left;line-height: 10rem;}
.home-sl-cont h2 {color: #fff;text-transform: uppercase;letter-spacing: -0.2rem;font-size: 4.4rem;font-weight: 700;}
.home-sl-cont {text-align: center; max-width:100rem;  }
.home-demo {position: relative; width:100%; }
.caption { text-align: left;}
.caption p {  color: #fff; }
/*home slider close*/


/*about us page*/

section.page-title-area {padding: 216px 0 96px;background-repeat: no-repeat;background-size: cover;margin-top: 0px;background-color: #000;position: relative;}
.page-title-area:after{ content: ""; position: absolute; top: 0; height: 100%; background: linear-gradient(270.08deg, rgba(0, 0, 0, 0.84) 0.95%, rgba(0, 0, 0, 0.84) 17.16%, rgba(0, 0, 0, 0) 95.84%);transform: matrix(-1, 0, 0, 1, 0, 0);}
.page-title-area:before{ content: ""; position: absolute; width: 100%; height: 100%; z-index: 0; top: 0px;
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); }
.page-title-area .container { position: relative; z-index: 2;}
.page-title-area .page-title-content h2 { color: #fff; }

/* service four */
.our-journey {background: url(../images/our-journey.png) no-repeat;background-size: cover;padding: 140px 0px;position: relative;}
.journey-div h3, .journey-div p {color: #fff;}
.journey-div h2 {font-family: 'Austhind';color: #DDB153;font-size: 12rem;letter-spacing: -0.2rem;clear: left;line-height: 14rem;text-transform: none;}
.our-journey .col-sm-8{align-items: center;display: flex;}



/*speciality-box*/

.speciality-box {
    background: #fff;
    text-align: left;
    padding: 0 2rem 3rem;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
    border-radius: 1rem;
    height: 100%;
}
.speciality-box h3 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

.owl-carousel .owl-item .speciality-box figure img {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 4rem;
    width: auto;
    display: inline-block;
}
a.moreBtn {
    margin-top: 3rem;
    display: inline-block;
    color: #000;
}
.moreBtn span {
    width: 30px;
    height: 3px;
    background: #000;
    display: inline-block;
    vertical-align: middle;
    margin-left: 4rem;
}
.food-dishes{background: url(../images/food-dishes-bg.png) no-repeat center center;
    background-size: cover;
    padding: 140px 0px;
    position: relative;
    background-position: 0px 60px;
}
.speciality-box p {
    padding: 1rem 0 1rem;
    margin: auto;
    line-height: 2.7rem;
}
.parallax .owl-carousel .owl-stage {
    display: flex;
}

.parallax .owl-carousel .owl-stage-outer {
    padding-bottom: 20px;
}
.parallax .owl-carousel .owl-stage-outer .owl-item {
    min-height: 100%;
}
.parallax .owl-carousel .owl-stage-outer .owl-item .item {
    height: 100%;
}

.dishes {background: #fff;padding: 7rem 7rem;box-shadow: 0px 10px 45px rgb(0 0 0 / 8%);margin: 3rem 3rem 5rem;} 
.food-dishes .container {max-width: 1260px;width: 100%;}




/*inner pages*/
.about-owner-cont {width: 100%;max-width: 480px;}
.serving-box {background: #fff;box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.08);padding: 0rem 5rem 5rem 5rem;transform: translateX(51px);}
.about-owner .col-md-7 {display: flex;flex-wrap: wrap;align-content: space-around;}.cot {margin-top: 0;position: relative;top: -35px;}
.achievements .clients-logo {background: #fff;padding: 1rem;box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.08);margin: 3rem;}
.achievements .clients-logo img {width: auto;}
.about1 h3 {text-transform: none;font-family: 'Inter', sans-serif;color: #737373;margin-top: 3rem;}
.about1.menu-page{ padding-bottom: 0; }

/*inner close*/




/*contact us*/

.contact-page header.header3, .guote-page header.header3 {position: relative;background: rgba(0,0,0,0.7);}
.contact-page header.navbar-scroll, .guote-page header.navbar-scroll { position: fixed; }
input.form-field,
select.form-field,
textarea.form-field {
    margin-bottom: 2.5rem;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 45px rgb(0 0 0 / 8%);
    padding: 2rem 2rem;width: 100%;
}
.contact-address li a span {position: absolute;width: 40px;height: 40px;text-align: center;background: #DDB153;left: 0;border-radius: 50%;line-height: 40px;display: block;color: #000;}
.contact-address li a {padding-left: 4rem !important;display: block;min-height: 50px;margin-bottom: 2rem;padding-top: 6px;line-height: 24px;color: #000;font-size: 1.8rem;}
.contact-address {position: relative;}#contact-form .title-main p {max-width: 370px; margin-bottom: 3rem;}

/*contact us close*/

/*footer start 2*/
.footer { overflow: hidden;}
.footer-section2 ul {margin: 0;padding: 0;list-style: none;}
.footer-section2 li a{text-decoration:none;}
.footer.footer-section2 {background: #fff; padding-top: 10rem;}
.footer-section2 .footer_section h4, .footer-section2 .social_media h4 {color: #000;margin-top: 0;margin-bottom: 1rem;font-weight: 500;font-size: 2.125rem; font-family: 'Inter', sans-serif;letter-spacing: 0;
    text-transform: none; font-weight: 600; margin-bottom: 2rem; }
.footer-section2 .footer_section h4::after, .footer-section2 .social_media h4::after {content: "";display: block;height: 2px;width: 40px;background: #fff;margin-top: 1rem;}
.footer-section2 .footer_section ul {margin: 0;padding: 0;list-style: none;}
.footer-section2 .footer_section ul li a { display: block;    margin-bottom: 10px;color: #000;transition: all .3s ease 0s;line-height: 3rem;font-size: 1.6rem;text-transform: capitalize; position: relative;}
.footer-section2 .footer_section ul li a:hover {color:#dcb97a;}
.footer-section2 .footer_section_contact ul li {color: #fff;}
.footer-section2 .search form {width: 100%;position: relative;display: flex;margin-bottom: 1rem;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
.footer-section2 .contact_input {width: 100%;border: none;padding: 0 0 0 1.5rem;height: 60px;border-radius: 5px 0 0 5px;outline: none;color: #999;font-size: 1.6rem;}
.footer-section2 .submit_button {width: 70px;height: 60px;font-size: 20px;border: none;background: #fff;text-align: center;color: #211a54;border-radius: 0 5px 5px 0;cursor: pointer;}

.footer-section2 .social_media ul{justify-content: space-between;}
.footer-section2 .social_media ul li {font-size: 1.6rem;transition: all .5s ease;display: block;}
.footer-section2 .social_media ul li a {font-weight: 100;color: #000;padding: 10px;border-radius: 50%;height: 40px;width: 40px;display: block;text-align: center;line-height: 20px;margin: 0;}
.social_media {text-align: right;display: flex;justify-content:flex-start;}   
.social_media ul {display: flex;width: 150px;justify-content: space-between;margin-right: 0;}
.footer-section2 .social_media ul li a:hover {background: #DDB153;color: #000;}
.footer-bottom {
    border-top: 1px solid #333;
    padding: 3rem 0;
    background: #000;
    margin-top: 4rem;
}
.footer-section2 .footer_section ul li a span {position: absolute;width: 46px;height: 46px;text-align: center;left: -8px;border-radius: 50%;line-height: 46px;display: block;color: #000;font-size: 2rem;}
.footer-section2 .footer_section .f-contact-info a {padding-left: 4rem !important;display: block; min-height: 50px;margin-bottom: 0rem;line-height: 24px;display: flex;align-items: center;}
.footer_section p {color: #000;margin-bottom: 10px;padding-right: 4rem;}
.dishes .col-sm-7 {display: flex;align-items: center;}
.dishes-cont {padding-left: 3rem;}
.copyright {color: white;}
.dishes-cont h3 { margin-bottom: 3rem; }


.clients-logo {
    margin-bottom: 3rem;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
}
.clients-logo figure {
    margin: 0;
    line-height: 0;
}
.photo-gallery {
    max-width: 90%;
    margin: auto;
}
.clients-logo:hover .baliBox {
    /* visibility: visible; */
    position: relative;
    transition: .3s cubic-bezier(.3, 0, 0, 1.3);
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,0%,0);
    
}
.clients-logo img {
  border-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}
.baliBox {
    padding: 2rem;
}
.owl-carousel.gallery {
    margin-top: 3rem;
}
.parallax .title-main p {
    color: #000;
}
.parallax {
    padding: 6rem 0 6rem;
    background: url(../images/parallax-bg.jpg) no-repeat top center #fff;
    position: relative;
    z-index: 5;
    min-height: 600px;
    background-size: cover;
}


.owl-theme .owl-controls .owl-nav .owl-prev{ background: url(../images/left-arrow.png) no-repeat center center #fff; background-size:14px; }
.owl-theme .owl-controls .owl-nav .owl-next{background: url(../images/right-arrow.png) no-repeat center center #fff; background-size:14px;}
.owl-theme .owl-controls .owl-nav .owl-prev, .owl-theme .owl-controls .owl-nav .owl-next {
    display: inline-block;
    float: left;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid;
    width: 60px;
    height: 60px;
    font-size: 0;
    border-radius: 1rem;
}
.owl-controls {
    position: absolute;
    top: -110px;
    width: 100%;
}

/* .owl-nav {
    display: flex;
    justify-content: space-between;
}
.testimonials .owl-nav {
    display: flex;
    justify-content: space-between;
}
.testimonials .owl-nav .owl-prev {
    margin-right: 5rem !important;
} */



.caption-wrap.custom-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.PoulrPlace {
    margin-top: 10rem;
}


/*banner form*/

.bannerForm {
    background: #fff;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 7rem;
    min-width: 930px;
}

.bannerForm form {
    display: flex;
    justify-content: space-between;
}
.bannerForm select.form-select {
    width: 100%;
    border: 0;
    font-size: 18px;
    max-width: 140px;
}
.bannerForm input.form-field {
    background: transparent;
    width: auto;
    border: 0;
    font-size: 18px;
    margin: 0;
    box-shadow: none;
    max-width: 180px;
}
.bannerForm button.btn {
    background: #000;
    border-radius: 4em;
    font-size: 1.8rem;
    font-weight: 500;
}
.bannerForm {
    background: #fff;
    padding: 1rem;
    border-radius: 7rem;
    min-width: 930px;
}

p.bnrP {
    text-align: left;
    margin-top: 2rem;
    color: #fff;
}




.speciality-box figure img {
    width: auto;
}

.chooseSl {
    margin-top: 5rem;
}

.title-main {
    max-width: 80rem;
    margin: auto;
}

.feedback-main {
    padding: 9rem 0rem 7rem;
}
.feedback-main .title-main {
    max-width: 96%;
    padding-bottom: 2rem;
    text-align: center;
}
/* .feedback-main .container {
    max-width: 96%;
} */

/*testimonials*/

.owl-carousel.testimonials .owl-item img {
    width: auto;
    margin: auto;
    margin-top: -11rem;
}

.feedback-box {
    /* box-shadow: 0px 10px 45px rgb(0 0 0 / 8%); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10rem 0 0rem;
    padding: 3rem 4rem;
    border-radius: 1rem;
}
.testFace h4, .testFace h4 strong {
    font-size: 2.4rem;
    font-weight: 600;
}
.starRate li i.fa {
    font-size: 2.7rem;
}
.testFace h4 {
    margin: 0;
}
.testFace {
    text-align: center;
    width: 100%;
}

.starRate ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.starRate li { color: #F4BC61; padding-right:1rem ;}
.userRight { margin: 2rem 0 0rem; }

.userRight p {
    margin-bottom: 0;
}
.testimonials .owl-stage {
    display: flex;
}
.testimonials .owl-stage .owl-item {
    min-height: 100%;
}
.testimonials .owl-stage .owl-item .item {
    height: 84%;
    padding: 0px 8px;
}
.testimonials .owl-stage .owl-item .item .feedback-box {
    height: 100%;
}



/* .testimonials .owl-stage-outer {
    padding: 0 3rem 4rem;
} */

section.contact-page {
    background: url(../images/unsplash.png) no-repeat top center #fff;
    background-size: cover;
}

/*testimonials close*/

.gallery-main {
    padding: 5rem 0;
}
.gallery-main h2 {
    margin-bottom: 3rem;
}

section.ourTure {
    padding-top: 19rem;
}
.ourTour .owl-controls {
    display: none;
}
.ourTour {
    padding: 5rem 0 0;
}

@media screen and(max-width:400px) {
 .footer.footer-section2  { padding: 0 1rem;  }
}

@media screen and (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 1200px; }
}

@media screen and (max-width: 992px) {
    .home-demo .container { justify-content: center;}
    .serving-cot { margin-top: 4rem; }
    .serving-box { transform: translateX(0px);}
    .bannerForm {  min-width: 630px;}
}

@media screen and (max-width: 767px) {
    .dishes-cont {padding-left: 0rem;}
    .dishes {background: #fff;padding: 7rem 2rem;}
    .journey-div h2 {  font-size: 7rem;}
    .row>* {padding-right: calc(var(--bs-gutter-x) * 1);padding-left: calc(var(--bs-gutter-x) * 1);}
    section {  padding: 5rem 0;}
    .mene-cont li {  margin-left: 0rem;}
    .home-sl-cont h1 { font-size: 7rem;}
    .speciality-box { height: inherit; }
    .footer-section2 .mb-5 {  margin-bottom: 0rem!important; }
    .social_media { justify-content: flex-start; }
    .header3 .nav-links li.get-quote a { padding: 0px 20px;}
    h2 {
        font-size: 3rem;
    }
    .bannerForm {
        min-width: 100%;
        padding: 3rem;
        border-radius: 3rem;
    }
    .home-sl-cont h1 {
        font-size: 5rem;
        line-height: initial;
    }
    .caption {
        text-align: center;
    }
    .caption-wrap.custom-text {
        justify-content: center;
        text-align: center;
    }
    .bannerForm form {
        display: block;
        justify-content: space-between;
    }
    .bannerForm select.form-select {
        border: 1px solid #ccc;
        font-size: 18px;
        margin: auto;
        width: 250px;
        margin-bottom: 1rem;
        max-width: 100%;
        border-radius: 5px;
    }
    .bannerForm input.form-field {
        border: 1px solid #ccc;
        font-size: 18px;
        margin: auto;
        width: 250px;
        margin-bottom: 1rem;
        max-width: 100%;
            padding: 0.5rem 1rem;
    }
    header nav {
        top: 1rem;
        padding: 1.4rem 0rem;}
    .PoulrPlace {
        margin-top: 3rem;
    }
    .gallery-main h2 {
        margin-bottom: 2rem;
    }
    .owl-carousel.gallery {
        margin-top: 1rem;
    }
    .testimonials .owl-stage-outer {
        padding: 0 0rem;
    }

}





/* gallery details page css */
.adventure-banner {
    background: url(../images/adventure-banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 620px;
    height: 620px;
}
.adventure-banner .home-sl-cont {
    max-width: 57rem;
}
.domestic-banner {
    background: url(../images/domestic-banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 620px;
    height: 620px;
}
.domestic-banner .container {
    justify-content: flex-start;
}

.international-banner {
    background: url(../images/international-banner.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 620px;
    height: 620px;
    position: relative;
}

.international-banner .container {
    justify-content: center;
}
.international-banner .caption {
    text-align: center;
}
.international-banner .caption p {
    max-width: 560px;
}

.adventure-banner .home-sl-cont h1,
.domestic-banner .home-sl-cont h1,
.international-banner .home-sl-cont h1 {
    font-size: 6rem;
    line-height: 6rem;
}
.adventure-banner .caption p,
.domestic-banner .caption p,
.international-banner .caption p {
    max-width: 565px;
}

.home-gallery .photo-gallery .item .baliBox p {
    line-height: 28px;
    min-height: 168px;
    margin-bottom: 0;
}

.gallery-items-details {
    padding-top: 9rem;
}
.gallery-items-details .clients-logo > figure {
    position: relative;
}
.gallery-items-details .baliBox h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    line-height: 25px;
}
.gallery-items-details .baliBox p {
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 24px;
}
.file-dawnload figure {
    width: 30px;
    position: absolute;
    bottom: 15px;
    right: 20px;
}
.form-section.contact-page .sectionTitle h2 {
    color: #fff;
}


.home-gallery .owl-controls .owl-nav .owl-prev {
    background-size: 10px;
    position: absolute;
    top: 200px;
    left: -52px;
    border: 0;
    margin: 0;
    width: 45px;
    height: 45px;
}
.home-gallery .owl-controls .owl-nav .owl-next {
    background-size: 10px;
    position: absolute;
    top: 200px;
    right: -52px;
    border: 0;
    margin: 0;
    width: 45px;
    height: 45px;
}
.parallax .owl-controls .owl-nav .owl-prev {
    background-size: 10px;
    position: absolute;
    top: 380px;
    left: -52px;
    border: 0;
    margin: 0;
    width: 45px;
    height: 45px;
}
.parallax .owl-controls .owl-nav .owl-next {
    background-size: 10px;
    position: absolute;
    top: 380px;
    right: -52px;
    border: 0;
    margin: 0;
    width: 45px;
    height: 45px;
}
.feedback .owl-controls .owl-nav .owl-prev {
    background-size: 10px;
    position: absolute;
    top: 460px;
    left: -52px;
    border: 0;
    margin: 0;
    width: 45px;
    height: 45px;
}
.feedback .owl-controls .owl-nav .owl-next {
    background-size: 10px;
    position: absolute;
    top: 460px;
    right: -52px;
    border: 0;
    margin: 0;
    width: 45px;
    height: 45px;
}
